@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
html, body
{
    background: #262626;
    height: 100%;
    margin:0;
    padding:0;
    font-family: 'Quicksand';
    color: white;
}

.img-container {
    position:relative;
    height: 90%;
    width:100%;
}

.img-container img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

.text-container {
    position: fixed; /* or absolute */
    top: 60%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

.text-container span {
    color: orange;
    -webkit-animation: rainbow 7s infinite; 
  
    -ms-animation: rainbow 7s infinite;
    
    animation: rainbow 7s infinite; 
}

.button-container {
    position: fixed; /* or absolute */
    top: 68%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.button-container a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
}

.button-container a:hover {
    color: grey;
    background-color: white;
}

@-webkit-keyframes rainbow{
    0%{color: orange;}	
    10%{color: purple;}	
      20%{color: red;}
    30%{color: CadetBlue;}
      40%{color: yellow;}
    50%{color: coral;}
      60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
      100%{color: orange;}
  }
  
  /* Internet Explorer */
  @-ms-keyframes rainbow{
     0%{color: orange;}	
    10%{color: purple;}	
      20%{color: red;}
    30%{color: CadetBlue;}
      40%{color: yellow;}
    50%{color: coral;}
      60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
      100%{color: orange;}
  }
  
  /* Standar Syntax */
  @keyframes rainbow{
      0%{color: orange;}	
    10%{color: purple;}	
      20%{color: red;}
    30%{color: CadetBlue;}
      40%{color: yellow;}
    50%{color: coral;}
      60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
      100%{color: orange;}
  }